*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.head{
    background-color: rgb(228, 163, 163);
    height: 15vh;
    width: 100%;
}
.head h1{
    padding: 2% 2%;
    color: black;
}

.mid-section h4{
    padding: 2% 2%;
    font-size: larger;
}