.blog-posts-content{
    /* background-color: red; */
    text-align: center;
    margin-top: 5vh;
    /* background-color: red; */
}

.blog-posts-content h3{
    font-weight: bolder;
}

.blog-posts-content p{
    font-size: 15px;
    margin-top: 1vh;
    font-weight: bold;
}

.wrapper{
    display: flex;
}
.article{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: red; */
}

.article-content{
    margin-top: 2vh;
    text-align: center;
}

#author{
    color: rgba(0, 0, 0, 0.518);
    /* background-color: red; */
    font-weight: bold;
    /* text-align: center; */
}

#date-blogpost{
    color: rgba(0, 0, 0, 0.518);;
    font-weight: bold;
}
.blogpostmeta{
    display: flex;
    /* width: 80vw; */
    justify-content: space-between;
    /* background-color: green; */
    padding: 2px 5px;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-content: center;
}

.author-detail-1{
    font-weight: bold;
    border: 2px solid black;
    padding: 2px 7px;
    border-radius: 7px;
}
.author-detail-2{
    margin-right: 158px;
}
.social-links{
    align-self: center;
}