*{
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}
body{
    overflow-x: hidden;

}
.container{
    width: 100vw;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #040404; */
    align-items: center;
    /* width: 100%; */
}
.navbar-left{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* background-color: red; */
    min-width: 30vw;
}

.navbar-left img{
    width: 110px;
    height: 120px;
    padding: 2% 4%;
    /* background-color: whitesmoke; */
}
.navbar-left ul li{
    list-style: none;
    display: inline;
    margin-left: 5px;
    position: relative;
    left: 60px;
    top: 7px;
}
.navbar-right{
    margin: 0% 3%;
    align-items: center;
    /* max-width: 45vw; */
}
.navbar-left ul li a{
    text-decoration: none;
    color: #040404;
    font-size: 23px;
    margin-left: 20px;
}
.navbar-left ul li a:hover{
    /* background-color: brown; */
    border-radius: 50px;
    /* padding: 2% 8%; */
    color: brown;
    font-weight: bolder;
    font-size: 23px;
    padding: 5px;
}
.search-column{
    border: 2px solid #040404;
    /* display: none; */
    border-radius: 20px;
    height: 25px;
    padding: 1% 2%;
    margin-right: 5px;
}
.search-bar input::-webkit-search-cancel-button {
    display: none;  /* Hides the clear button */
}
/* .search-btn{
    border: 2px solid #040404;
    border-radius: 20px;
    height: 25px;
    padding:0% 3%;
    align-self: center;
    align-items: center;

} */

.search-btn h6{
    padding: 1% 2%;
}


.mid-content{
    max-width: 80vw;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    /* background-color: royalblue; */
    margin: auto;
    padding: 4% 3%;
    position: relative;
    /* background-image: url(../BlogWebsite/images/60736.png); */
    /* text-rendering: auto; */
}

.footer{
    width: 100%;
    height: 60px;
    background-color: brown;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.search-btn{
    position: relative;
    bottom: 25px;
    left: 162px;
    border: none;
}
.mid-content-left{
    padding: 2% 4%;
    margin-right: 2vh;
    background-image: url(images/female-hands-typing-on-keyboard-at-white-table-office-workspace-flat-lay-woman-hands-on-white-table-desk-use-pc-computer-top-view-long-web-banner-2gb3ph3.jpg);
    background-size: cover;
    border-radius: 20px;
    opacity: 1;
}
.mid-content-left h2{
    margin-bottom: 13px;
}
.mid-content-left p{
    font-size: 13px;
    font-weight: bold;
}
.mid-content-right img{
    height: 150px;
    width: 250px;
    border: 2px solid #040404;
    border-radius: 108px;
    margin-top: 15px;

}
.hr-line{
    width: 75vw;
    margin: auto;
    margin-top: -7vh;
    background-color: black;
    /* margin-bottom: -20px;    */
}
.articles{
    /* height: 400px; */
    margin: auto;
    background-color: rgb(247, 246, 242);
    padding: 4px 20px;
    width: 80vw;
   
}

.articles-more{
    display: flex;
    flex-direction: row;
}

.article{
    width: 80vw;
    display: flex;
    padding: 20px;
}
.article img{
    width: 220px;
    height: 160px;
}
.article-content{
    align-self: center;
    padding: 0% 3%;
}

.article-content a{
    text-decoration: none;
}

.article-content h3{
    color: black;
}


.srch-btn{
    padding: 1% 4%;
}
#form{
    display: flex;
}
.btn-1{
    border: 2px solid black;
    padding: 1% 2%;
    margin-left: 1vh;
    /* background-color: red; */
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}
.btn-1:hover{
    background-color: brown;
    color: white;
}

#author{
    color: rgba(0, 0, 0, 0.518);
    /* background-color: red; */
    font-weight: bold;
    /* text-align: center; */
}

#date-blogpost{
    color: rgba(0, 0, 0, 0.518);;
    font-weight: bold;
}